@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f0df;
    width: 100%;
}


